body {
	color: black;
	background-image: linear-gradient(to left, #CE9FFC , #7367F0);
}
.heading{
	font-size:110px;
	padding:30px;
	font-family: 'Lexend', sans-serif;
	font-weight:400;
}
.flex-container {
    display: flex;
    flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 25px;
}
.itemcontainer{
	background-color:powderblue;
	background-image:linear-gradient(to right, #90f7EC, #32CCBC);
	flex-direction:column;
	border:3px solid black;
	margin:20px;
	padding:20px;
}
.itembox{
	background-color:white;
	border:2px solid black;
	margin:10px;
	margin-left:0px;
	margin-right:0px;
    flex-direction: row;
}
.itemname{
	flex-grow:1;
	font-size:80px;
	margin:10px;
	font-weight:500;
}
.counters{
	border:2px solid black;
	border-radius:10px;
	background-color:lightgray;
	margin-right:10px;
}
.stock{
	font-size:20px;
	color:#308D46;
	justify-content:left;
}
img {
	width:140px;
	height:140px;
	border-radius: 18px;
	margin:5px;
}

button {
	width: 50px;
	height: 50px;
	font-size: 30px;
	border:0px;
	border-radius: 8px;
	background-color: lightgray;
	font-weight:600;
}
button:hover{
	background-color: #AAAAAA;
}
button:active{
	background-color: #999999;
	font-size: 24px;
}
input {
	width: 50px;
	font-size:30px;
	text-align:center;
	border:0px solid black;
	border-top-style: 0px solid black;
	border-bottom-style: 0px solid black;
	border-left-style: 2px solid black;
	border-right-style: 2px solid black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reset_button{
	width:auto;
	margin:10px;
	margin-bottom:100px; 
	border: 2px solid black;
	background-color:lighter;
}